<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <h3><span class="glyphicon glyphicon-bold"></span>-mail</h3>
      <li>Home</li>
      <li>Sent</li>
    </ul>
  </nav>

  {{outlet}}
</div>
