<div class="container">
  <nav class="navbar well" role="navigation">
    <ul class="nav navbar-nav">
      <span class="glyphicon glypicon-bold"></span><h3>Benjamin-mail</h3>
      <li>Home</li>
      <li>Sent</li>
    </ul>
  </nav>

  {{outlet}}
</div>
