<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
      <h3><span class="glyphicon glyphicon-bold"></span>-mail</h3>
      <li>{{#link-to 'emails'}}Inbox{{/link-to}}</li>
      <li>{{#link-to 'folders'}}Folders{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}
</div>
