{{outlet}}

<h5>Welcome <span class="glyphicon glyphicon-bold"></span>ack</h5>
{{#link-to 'new-email'}}
  <button class="btn btn-xs btn-info">Compose?</button>
{{/link-to}}
<hr>

<ul class="mail">
  {{#each}}
    {{#link-to 'email' this.id}}
      <li>{{isFrom}}: {{subject}}</li>
    {{/link-to}}
  {{/each}}
</ul>
