<form>
  <div class="form-group">
    <label for="name">Name this folder:</label>
    {{input type="text" id="name" value=name class="form-control"}}
  </div>
  <button {{action "fold"}} class="btn btn-warning">Create</button>
</form>
